{% extends "::base.html.twig" %}

{% block content %}

    <h1>Settings</h1>

    {% if app.session.flashbag.has('error-redirect') %}
        <h4>
            {% for error in app.session.flashbag.get('error-redirect') %}
                {{ error }}
            {% endfor %}
        </h4>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path("profile_update") }}" method="post" class="form-horizontal">

                {{ include('VoteBundle:Profile:userDetails.html.twig') }}

                {#<div class="form-group">#}

                    {#<div class="col-sm-offset-2 col-sm-10">#}
                        {#<div class="checkbox">#}
                            {#<label>#}
                                {#<input type="checkbox" id="volunteer-input" name="isVolunteer" {% if isVolunteer %}checked{% endif %}> Volunteer#}
                            {#</label>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-sm-offset-2 col-sm-10">#}
                        {#<div class="checkbox">#}
                            {#<label>#}
                                {#<input type="checkbox" id="member-input" name="isMember" {% if isMember %}checked{% endif %}> Member#}
                            {#</label>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label class="col-sm-2 control-label" for="surname-input">Surname</label>#}
                    {#<div class="col-sm-4">#}
                        {#<input class="form-control" type="text" id="surname-input" name="surname" value="{{ surname }}" placeholder="Last name">#}
                    {#</div>#}
                {#</div>#}
                <div class="col-sm-offset-2">
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>



    {% if is_admin %}

        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Admin</h1>
            </div>
            <div class="panel-body">
                <p>
                    {% if tracking_time_left is defined %}
                        <form action="{{ path("profile_untrack") }}" method="post">
                            <span>Currently tracking new registrations on this device with <b>{{ tracking_time_left }}</b> in the context of <b>{{ tracking_context }}</b></span>
                            <button class="btn btn-warning" type="submit">CANCEL</button>
                        </form>
                    {% else %}
                        <span>Not currently tracking new registrations on this device</span>
                    {% endif %}
                </p>

                <p>
                    <form action="{{ path("profile_track") }}" method="post" class="form-inline">
                        <div class="form-group">
                            <span>Track new registrations from this device for </span>
                            <select class="form-control" name="time">
                                <option value="1">1 Hour</option>
                                <option value="2">2 Hours</option>
                                <option value="3">3 Hours</option>
                                <option value="6">6 Hours</option>
                            </select>
                            <span> in the context of </span>
                            <select class="form-control" name="context">
                                <option>Door Knocking</option>
                                <option>Stall</option>
                                <option>Other</option>
                            </select>
                            <button class="btn btn-success" type="submit">Track</button>
                        </div>
                    </form>
                </p>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}

    {% javascripts '@address_autocomplete' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        if(g_InitialData.tracking_token !== undefined) {
            document.cookie = "tracking_token=" + g_InitialData.tracking_token;
        }
        $(document).ready(function() {

            var $postcode_input = $("#postcode-input");
            var $suburb_select = $("#suburb-select");
            var $street_input = $("#street-input");
            var $all_street_inputs = $(".street-inputs");
            var $home_address_div = $("#home-address-div");
            var $volunteer_input = $("#volunteer-input");

            var is_volunteer = $volunteer_input.checked;
            $volunteer_input.change(function() {
                is_volunteer = this.checked;
                $home_address_div.collapse(is_volunteer ? "show" : "hide");
            });

            var address_verify = createAddressAutoComplete($postcode_input, $suburb_select, $street_input, $all_street_inputs);
        });

    </script>
    {#{% javascripts '@vote' %}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

{% endblock %}