{% extends "::base.html.twig" %}

{% block content %}

    <h1>Complete Registration</h1>

    <form action="{{ path("signup_confirm", { "email": email, "confirm_token": token }) }}" method="post" class="form-horizontal once-only">

        {{ include('VoteBundle:Profile:user_details.html.twig') }}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="password-input">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password-input" name="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password-repeat-input">Re-enter your password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password-repeat-input">
            </div>
        </div>

        <h4 id="error-text" class="color-red">
        {% if app.session.flashbag.has('confirm-error') %}
                {% for error in app.session.flashbag.get('confirm-error') %}
                    {{ error }}
                {% endfor %}
        {% endif %}
        </h4>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button id="finish-submit" class="btn btn-success" type="submit">Finish Registration</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}

    {% javascripts '@address_autocomplete' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {

            var $postcode_input = $("#postcode-input");
            var $suburb_select = $("#suburb-select");
            var $street_input = $("#street-input");
            var $all_street_inputs = $(".street-inputs");
            var $phone_input = $("#phone-input");
            var $error = $("#error-text");
            var $home_address_div = $(".volunteer-details");

            var address_verify = createAddressAutoComplete($postcode_input, $suburb_select, $street_input, $all_street_inputs);

            var is_volunteer = false;
            $("#volunteer-input").change(function() {
                is_volunteer = this.checked;
                $home_address_div.collapse(is_volunteer ? "show" : "hide");
            });

            $("#finish-submit").click(function() {

                if(is_volunteer) {
                    var result = address_verify();
                    if (result !== true) {
                        $error.html(result);
                        return false;
                    }
                }

                if($phone_input.val().length < {{ phone_min_length }}) {
                    $error.html("Phone number needs to be at least {{ phone_min_length }} digits long");
                    return false;
                }

                var pass = $("#password-input").val();
                var pass_repeat = $("#password-repeat-input").val();
                if(pass !== pass_repeat) {
                    $error.html("Passwords need to match");
                    return false;
                }
                if(pass.length < {{ password_min_length }}) {
                    $error.html("Password needs to be at least {{ password_min_length }} characters long");
                    return false;
                }
            });
        });
    </script>
{% endblock %}
