{% extends "::base.html.twig" %}

{% block content %}

    <h1>Register for People Decide</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" action="{{ path("signup_email") }}" method="post">

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="email-input">Email</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="email-input" name="email" value="{{ email }}" placeholder="example@email.com">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="understand-input" name="understand" ><span>I agree to the <a href="{{ path('terms') }}">Terms & Conditions</a></span>
                            </label>
                        </div>
                    </div>
                </div>

                {% if app.session.flashbag.has('email-error') %}
                    <h4>
                        {% for error in app.session.flashbag.get('email-error') %}
                            {{ error }}
                        {% endfor %}
                    </h4>
                {% endif %}

                {% if recaptcha is defined %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-3">
                            <div class="g-recaptcha center-block" style="width:304px" data-sitekey="{{ recaptcha }}"></div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>
                </div>
                {#<button class="btn btn-success" type="submit">Register</button>#}
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {% if recaptcha is defined %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}

{% endblock %}