{% extends "::base.html.twig" %}

{% block content %}

    <h1>Verify</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" action="{{ path("finish_verify") }}" method="post">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="names-input">Given Names</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="names-input" name="givenNames" value="{{ givenNames }}" placeholder="First and middle names">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="surname-input">Surname</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="surname-input" name="surname" value="{{ surname }}" placeholder="Last name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="dob-date">Date of Birth:</label>
                    <div class="col-sm-4 form-inline">
                        <select class="form-control" id="dob-date" name="dobDate">
                            <option value=""></option>
                            {% for i in 1..31 %}
                                <option value="{{ i }}" {% if dobDate is defined and dobDate == i %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-control" id="dob-month" name="dobMonth">
                            <option value=""></option>
                            {% for i in 1..12 %}
                                <option value="{{ i }}" {% if dobMonth is defined and dobMonth == i %}selected{% endif %}>{{ month_names[i - 1] }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-control" id="dob-year" name="dobYear">
                            <option value=""></option>
                            {% for year in years %}
                                <option value="{{ year }}" {% if dobYear is defined and dobYear == year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="postcode-input">Postcode</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="postcode-input" name="postcode" value="{{ postcode }}" placeholder="Postcode">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="suburb-input">Suburb/Locality</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="suburb-select" name="suburb" disabled>
                            <option>- None Selected -</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="street-number-input">Street Number</label>
                    <div class="col-sm-4">
                        <input class="form-control street-inputs" type="text" id="street-number-input" name="streetNumber" value="{{ streetNumber }}" disabled placeholder="Unit/Number or Number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="street-input">Street Name</label>
                    <div class="col-sm-4">
                        <input class="form-control street-inputs" type="text" id="street-input" name="street" value="{{ street }}" disabled placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="verify-image">Verification Image</label>
                    <div class="col-sm-4">
                        <img id="verify-image" src="{{ image }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="verify-input">Verification Code</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="verify-input" name="verify" placeholder="Four character verification code">
                    </div>
                </div>

                <h4 id="error-text" class="color-red">
                    {% if app.session.flashbag.has('error-redirect') %}
                        {% for error in app.session.flashbag.get('error-redirect') %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </h4>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <span>When you click verify you are asking us to submit your details to the Australian Electoral Commission website to verify and save your enrollment details on our system.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button class="btn btn-success" type="submit" id="verify-submit" >Verify</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts '@address_autocomplete' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>

        $(document).ready(function() {

            var $postcode_input = $("#postcode-input");
            var $suburb_select = $("#suburb-select");
            var $street_input = $("#street-input");
            var $all_street_inputs = $(".street-inputs");
            var $error = $("#error-text");

            var address_verify = createAddressAutoComplete($postcode_input, $suburb_select, $street_input, $all_street_inputs);

            // TODO: drop in a jquery form validator
            $("#verify-submit").click(function() {

                if($("#names-input").val().length < 1) {
                    $error.html("Enter your given names");
                    return false;
                }
                if($("#surname-input").val().length < 1) {
                    $error.html("Enter your surname");
                    return false;
                }
                if( ($("#dob-date option:selected").prop("value").length < 1) ||
                        ($("#dob-month option:selected").prop("value").length < 1) ||
                        ($("#dob-year option:selected").prop("value").length < 1)
                ) {
                    $error.html("Enter a valid birth date");
                    return false;
                }

                var result = address_verify();
                if(result !== true) {
                    $error.html(result);
                    return false;
                }
                if($("#verify-input").val().length !== 4) {
                    $error.html("Enter the four letters/numbers in the image");
                    return false;
                }
            });

        });
    </script>
{% endblock %}
