{% extends "::base.html.twig" %}

{% block content %}

    <h1>Vote</h1>

    {% if can_vote %}
        <p>You are registered to vote in:
            <ul>
                {% if federal is defined %}
                    <li>{{ federal.description }}: {{ federal.name }}</li>
                {% endif %}
                {% if state is defined %}
                    <li>{{ state.description }}: {{ state.name }}</li>
                {% endif %}
                {% if local is defined %}
                    <li>Local Government Area: {{ local.domain.name }}</li>
                {% endif %}
                {% if local is defined %}
                    <li>{{ local.description }}: {{ local.name }}</li>
                {% endif %}
            </ul>
        </p>
        <p>These details are correct as of {{ user.whenVerified | date("d/m/Y") }}</p>
    {% else %}
        <p class="color-red">{{ cannot_vote_message | raw }}</p>
    {% endif %}

    <form id="filter-form" class="form-inline">
        <div class="form-group">
            <label>Show: </label>

            {% for type, level in domains_levels %}
                <select class="form-control domain-select" data-level="{{ type }}" disabled>
                    {% for id, domain in level.domains %}
                        <option
                                {% if id == "" %}
                                    disabled
                                {% else %}
                                    {% if id != level.default %}
                                        value="{{ id }}"
                                    {% else %}
                                        value=""
                                    {% endif %}
                                    {% if id == level.selected %}selected{% endif %}
                                {% endif %}>{{ domain.name }}</option>
                    {% endfor %}
                </select>
            {% endfor %}

        </div>
        <div class="form-group">
            <label>Search: </label>
            <input id="filter-input" class="form-control" type="text" name="filter" value="{{ filter }}">
            <button class="btn btn-success" type="submit">Refresh</button>
        </div>

    </form>

    {% for info in doc_list %}
        <div class="divider pd-document-internal" data-doc-block="{{ info.doc.id }}">
            <h3 class="bill-title">{{ info.doc.name }}
                {% if info.is_voteable %}
                    &nbsp; | &nbsp; <span class="yes-count">{{ info.supporters }} Yes</span> &nbsp; | &nbsp; <span class="no-count">{{ info.opponents }} No</span> &nbsp; |
                {% else %}
                    &nbsp; | &nbsp; <span class="no-count">Cannot vote on this type of bill yet</span>
                {% endif %}
            </h3>
            <h6>{{ info.doc.domain.name }}{% if info.doc.externalURL is not null %} - <a href="{{ info.doc.externalURL }}">View details</a>{% endif %}</h6>
            <p>{{ info.doc.summary }}</p>
            {% if info.can_vote and info.is_voteable %}
                <button class="btn btn-success vote-on" data-id="{{ info.doc.id }}" data-vote="true" {% if info.yes_vote %}disabled{% endif %}>Yes</button>
                <button class="btn btn-danger vote-on" data-id="{{ info.doc.id }}" data-vote="false" {% if info.no_vote %}disabled{% endif %}>No</button>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}

    {% javascripts '@vote' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
