{% extends "::base.html.twig" %}

{% block content %}

    <h1>Vote</h1>

    {% if can_vote %}
        <p>You are registered to vote in:
            <ul>
                <li>Federal Division: {{ federal.name }}</li>
                <li>State District: {{ state.name }}</li>
                <li>Local Government Area: {{ local.domain.name }}</li>
                <li>Local Ward/Division: {{ local.name }}</li>
            </ul>
        </p>
        <p>These details are correct as of {{ user.whenVerified | date("d/m/Y") }}</p>
    {% else %}
        <p class="color-red">{{ cannot_vote_message | raw }}</p>
    {% endif %}

    <form class="form-inline">
        <div class="form-group">
            <label>Show: </label>

            {% for type, level in domains_levels %}
                <select class="form-control domain-select" data-level="{{ type }}">
                    {% for id, domain in level.domains %}
                        <option
                                {% if id == "" %}
                                    disabled
                                {% else %}
                                    {% if id != level.default %}
                                        value="{{ id }}"
                                    {% else %}
                                        value=""
                                    {% endif %}
                                    {% if id == level.selected %}selected{% endif %}
                                {% endif %}>{{ domain.name }}</option>
                    {% endfor %}
                </select>
            {% endfor %}

        </div>
    </form>

    {% for doc in doc_list %}
        <div data-doc-block="{{ doc.doc.id }}">
            <h3>{{ doc.doc.name }} [<span class="yes-count">{{ doc.total_yes }}</span> voted yes, <span class="no-count">{{ doc.total_no }}</span> voted no]</h3>
            <h6>{{ doc.doc.domain.name }}{% if doc.doc.externalURL is not null %} - <a href="{{ doc.doc.externalURL }}">View details</a>{% endif %}</h6>
            <p>{{ doc.doc.summary }}</p>
            {% if doc.can_vote %}
                <button class="btn btn-success vote-on" data-id="{{ doc.doc.id }}" data-vote="true" {% if doc.yes_vote %}disabled{% endif %}>Yes</button>
                <button class="btn btn-danger vote-on" data-id="{{ doc.doc.id }}" data-vote="false" {% if doc.no_vote %}disabled{% endif %}>No</button>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}

    {% javascripts '@vote' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
