<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}People Decide - Voting Platform{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        <link rel="icon" type="image/x-icon" href="http://d3n8a8pro7vhmx.cloudfront.net/peopledecide/sites/6/favicon_images/original/pd-favicon.jpg?1462100046"/>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">


        {% stylesheets '@stylesheets' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
			
        <div class="header">
            <img src="/img/peopledecide-logo-620px.png">
        </div>
        <div class="container">
			
			{% set routename = app.request.attributes.get('_route') %}
            <nav class="navbar navbar-inverse"> <!--navbar-fixed-top-->

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {#<a class="navbar-brand" href="{{ path('homepage') }}">Voting Platform</a>#}
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            {#<img src="img/home.png">#}<img src="/img/home.png">
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% if app.user is null %}
                                <li {% if routename == 'signup' %}class="active"{% endif %}><a href="{{ path("signup") }}">Register</a></li>
                            {% endif %}
                            {% if app.session.get('new_user_id') or app.user is not null %}
                                <li {% if routename == 'verify' %}class="active"{% endif %}><a href="{{ path("verify") }}">Verify</a></li>
                            {% endif %}
                            <li {% if routename == 'vote' %}class="active"{% endif %}><a href="{{ path("vote") }}">Vote</a></li>
                            {% if app.user is not null %}
                                <li {% if routename == 'profile' %}class="active"{% endif %}><a href="{{ path("profile") }}">Settings</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user %}
                                <p class="navbar-text">Logged in as <b>{{ app.user.email }}</b></p>
                                <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
                            {% else %}
                                <li {% if routename == 'fos_user_security_login' %}class="active"{% endif %}>
                                    <a href="{{ path("fos_user_security_login") }}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
            </nav>
        </div>

        <div class="container wrapper">
            {% block content %}{% endblock %}
            <div class="push"></div>
        </div>
        <div class="footer">
            <div style="padding-top:25px;" class="container">
                <p><a href="http://www.karelboele.com/terms-conditions">Terms & Conditions</a> &nbsp; | &nbsp; <a href="http://www.karelboele.com/privacy-policy">Privacy Policy</a> &nbsp; | &nbsp; <a href="http://www.karelboele.com/rules">Rules</a></p>
            </div>
        </div>

        {{ render(controller('VoteBundle:Core:getJSOutput', { 'request': app.request })) }}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts '@core' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% if enable_analytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ google_analytics }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
